[submodule "vendor/glslang"]
	path = vendor/glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "vendor/sx"]
	path = vendor/sx
	url = git@github.com:septag/sx.git
[submodule "vendor/yyjson"]
	path = vendor/yyjson
	url = git@github.com:ibireme/yyjson.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = git@github.com:cloudflare/zlib.git
[submodule "vendor/pdqsort"]
	path = vendor/pdqsort
	url = git@github.com:orlp/pdqsort.git
[submodule "vendor/rpmalloc"]
	path = vendor/rpmalloc
	url = git@github.com:mjansson/rpmalloc.git
